@font-face {
    font-family: 'HSSanTokki20-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
}
img{
    max-width: 450px;
    height: auto;
    box-shadow: #00ff0f;
}
.slegi{
    position: absolute;
    align-items: center;
    transform: translateZ(50px);
}
.world{
    perspective: 3000px;
}
@keyframes poster-ani{
    0%{
        transform: rotateY(-20deg);
    }
    100%{
        transform: rotateY(20deg);
    }
}
.poster{
    position:relative;
    width: 450px;
    height: 550px;
    border-radius: 10px;
    border: 1px solid white;
    transform: rotateY(45deg);
    animation: poster-ani 1.6s infinite linear alternate;
    transform-style: preserve-3d;
    box-shadow: 0 0 10px rgb(172, 255, 134);
}
body{
    background-color: #1b2d18;
}
.poster-text{
    margin-top: 420px;
    transform: translateZ(40px);
}
.wrap{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.sm-text{
    font-family: "HSSanTokki20-Regular";
    font-size: 1.5rem;
}
#dynamic{
    position: relative;
    display: inline-block;
}
#dynamic::after{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: -10px;
    width: 4px;
    height:100%;
    background-color: white;
}
#dynamic.active::after{
    display: none;
}
.container{
    width:100%;
    height:100vh;
}
.container .nav-bar{
    width: 100%;
}

.container .header{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}
.container .nav ul li{
    display: inline-block;
    margin: 0 10px;
}

.container .nav ul li a{
    text-decoration: none;
    color: white;
}
.container .nav ul li a:hover{
  text-blink: green;
}