*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: darkolivegreen;
}

.wrap{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 color: aquamarine;
 text-align: center;

}
.material-icons{
font-size: 10rem;
font-weight: bold;
margin-bottom: 10px ;

}
.lg-text{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 50px ;

}
.sm-text{
    font-size:2rem;
    font-weight: bold;
    margin-bottom: 8px ;
}
.Ym-text{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 8px ;
}  .Cm-text{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 8px ;
}  .Em-text{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 8px ; }
            